{% extends "timetable/layout.html" %}
{% block title %}Домашние задания{% endblock %}
{% block content %}
<div class="panel">
{% for item in object_list %}
    <div class="card h-100 mb-3 ms-3" style="max-width: 18rem;min-width: 20rem;">
        <div class="card-body">
            <h5>{{item.title}}</h5>
            <p class="card-text line-clamp">{{item.desc}}</p>
            <div class="mx-auto">
                <a href="/homework/delete/{{item.id}}" class="btn btn-primary mb-2">Удалить</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}
