{% extends "timetable/layout.html" %}
{% block title %}Домашние задания{% endblock %}
{% block content %}
    <div style="max-width: 60rem;">
        <table class="col-md-12">
            <tbody>
            <tr>
                <td><b>Название</b></td>
                <td><b>Описание</b></td>
                <td><b>Предмет</b></td>
                <td></td>
            </tr>
            {% for item in object_list %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.desc }}</td>
                    <td>{{ item.subj }}</td>
                    <td style="width: 1%; white-space: nowrap;"><a href="/homework/delete/{{ item.id }}"
                                                                   class="btn btn-primary mb-2">Удалить</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
