<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app.css' %}?v=1.1" type="text/css">
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div id="page-container">
    <div id="content-wrap">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Timetable</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/teachers">Преподаватели</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/homework">Задания</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/replacements">Замены</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Контакты</a>
                        </li>
                        {% if user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/">Админка</a>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Карта сайта
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/login">Логин</a></li>
                                <li><a class="dropdown-item" href="/register">Регистрация</a></li>
                            </ul>
                        </li>

                    </ul>
                    {% if user.is_authenticated %}
                        <div class="pull-right">
                            <ul class="navbar-nav pull-right">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        Добро пожаловать, {{ request.user.first_name }}
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                                        <li><a class="dropdown-item" href="/profile">Профиль</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="mx-4 mt-2 mb-5">
            {% block extrahead %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>
    </div>

    <footer id="footer">
        <p class="copyright">Copyright 2021 Timetable</p>
    </footer>
</div>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
