{% extends "timetable/layout.html" %}
{% block title %}Профиль{% endblock %}
{% block content %}
<div class="card" style="width: 18rem;">
    <img src="static/user.svg" style="max-width:160px;width:100%;" class="mx-auto d-block card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ profile.username }}</h5>
        <p class="card-text">{{ profile.last_name }} {{ profile.first_name }}</p>
        <p class="card-text">{{ profile.email }}</p>
    </div>
</div>
{% endblock %}
