@import url("css/bootstrap-dark.css") (prefers-color-scheme: dark);

@import url("css/bootstrap.css") (prefers-color-scheme: light);

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
    background-color: #333333;
}

p.copyright {
    width: 100%;
    color: #fff;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
}

.img-category {
    border-radius: 50% !important;
    width: 140px;
    height: 140px;
}

.category {
    margin: 0 auto;
    min-width: 300px;
    max-width: 360px;
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel {
    display: flex;
    flex-wrap: wrap
}


.row_custom td:nth-child(1) {
    width: 50px;
    background-color: #3346ff;
    color: #fff;
    text-align: center;
}

.row_custom td:nth-child(2) {
    padding: 0 15px 0 15px;
}

.row_custom td:nth-child(3) {
    width: 100px;
}

td, th {
    padding: 5px;
    border: 1px solid #005c51;
}

.mobile_header_rasp th {
    border: 1px solid #005c51 !important;
}

.mobile_header_rasp .active {
    background-color: #3346ff;
    color: #fff;
}

.kab div {
    border-bottom: 1px solid #005c51;
}

.kab div:last-of-type {
    border-bottom: none;
}
